language: python
python:
    - "2.7"
    - "3.6"
    - "3.7"
    - "3.8"
    - "pypy3.5"
install:
    - pip install -e .
    - pip install -r test_requirements.txt
script:
    - make cov
    - xenon xenon -bB -mA -aA
after_success:
    - coveralls
