[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
radon = "<3,>=2"
requests = "<3.0,>=2.0"
PyYAML = ">=4.2b1,<5.0"

[dev-packages]

[requires]
python_version = "3.9"
